 @font-face {
   font-family: "Lancelot";
    src: url(fonts/Lancelot-Regular.ttf);
 }
 @font-face {
    font-family: "Arabic";
    src: url(fonts/Montserrat-Arabic\ Regular.ttf);
 }

 @font-face {
    font-family: "Horizon";
    src: url(fonts/Horizon.otf);
 }



 body {
  background-color:#252c35;
   color: #f5f3ef;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #252c35;
}

.navbar a {
  color: #b29f85;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar h1 {
  font-size: 3rem;
  font-family: "Horizon";
  text-align: left;
   color: #b29f85;
}

.top-banner {
  height: 220px;
  background-image: url(img/topimage.jpg);
   background-size: cover;
  background-position: center;
}

.our-cause {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.our-cause h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  margin-top: 30px;
  font-family: 'Arabic';
  color: #b29f85;
}
.cause-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
  font-family: "Lancelot";
}

.left-side h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.left-side ul {
  list-style: disc;
  padding-left: 20px;
}

.left-side li {
  margin-bottom: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.right-side p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.item-banner {
    height: 220px;
    margin-top: 40px;
    margin-bottom: 50px;
  background-image: url(img/topimage.jpg);
   background-size: cover;
  background-position: center;
}

.items-text {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  margin-top: 30px;
  font-family: 'Arabic';
  color: antiquewhite;
}
  

.maintext {
  color: #f5f3ef;
    font-size: 2rem;
  letter-spacing: 2px;
   background-color: rgba(0,0,0,0.4);
  padding: 10px 20px;
  border: 2px solid #33260e;
    border-radius: 5px;
}
.imgitem{
    width: 100%;
    height: 130px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .imgitem img {
   max-height: 100%;
   max-width: 90%;
   object-fit: contain;
 }

.itemcard {
 background-color: #5e514fc0;
 border: 2px solid #d6d1c8;
  color: #1e1a17;
  padding: 15px;
  border-radius: 4px;
    margin: 15px auto;
    min-height: 150px;
    text-align: center;
}

.itemcard h1 {
  font-size: 1rem;
  margin-top: 10px;
     color: rgb(250, 250, 242);
   font-size: 35px;
   font-size: 1.2rem;
   margin-bottom: 8px;
}

.price {
   color: #c6beb1;
  font-weight: bold;
  font-size: 1rem;
}

.checkout-box {
  background-color: #f5f3ef;
  color: #1e1a17;
  padding: 25px;
  max-width: 500px;
  border-radius: 4px;
}
.footer {
  background-color: #1e1a17;
  color: #f5f3ef;
  padding: 30px 0;
}


 @media (max-width: 600px) {
  .imgitem {
      height: 50px;
  }

  .itemcard h1 {
      font-size: 1rem;
  }

  .itemcard p {
      font-size: 0.8rem;
  }

  .price {
      font-size: 0.9rem;
  }
   .cause-grid {
    grid-template-columns: 1fr;
  }
}